@import url("http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800|Raleway:400,200,100,300,500,600,700,800,900");

*{
    margin: 0;
    padding: 0;
    font-family: "Open Sans", Arial, sans-serif;
}

colorpalette{
    color: 
    #FFFFFF 
	#27242b 
	#27242b
	#3d9f96 
	#322f36 
	#f7f7f7 
	#f9f9f9 
	#ababab 
	#7e7e7e 
	#27242b;
}

li, a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: url(./assets/img/header_bg.jpg);
    height: 6vh;
    padding:30px 0;
    font-weight: 700;
}


.logo{
    max-width: 20%;
    max-height: 75%;
    cursor: pointer;
}


ul .navLinks{
    list-style: none;
    display: inline-flex;
  
}

.navLinks li{
    display: inline-flex;
    padding: 0 15px;
    text-decoration: none;
}

nav ul a{
    color: #f7f7f7;
    padding: 10px 20px;
}

.getNow{
    color: #3d9f96;
    text-decoration: underline;
    padding: 10px 20px;
}

.banner{
    display: block;
    color: #f7f7f7;
    text-align: center;
    line-height: 3em;
    border-top: solid #322f36 0.1px;
    background: url(./assets/img/header_bg.jpg);
    padding-top: 5%;
    
}

section>h1{
    font-weight: 100;
    font-size: 2.5em;
}

.newApp{
    font-family: Raleway, Arial, sans-serif;
    font-weight: 700;

}


h2{
    font-size: 1em;
    font-family: Raleway, Arial, sans-serif;
    color: #3d9f96;
    text-align: center;
}

section>p{
    font-weight: 100;
}

.greenButton{
    background-color: #3d9f96;
    border: none;
    border-radius: 30px;
    font-family: Raleway, Arial, sans-serif;
    font-weight: 600;
    font-size: 0.8em;
    color: #f7f7f7;
    padding: 1% 4%;
    margin-top: 3%;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.greenButton:hover{
    background-color: rgba(61, 159, 150, 0.9);
    box-shadow: rgb(27, 26, 26) 0px 8px 20px -8px
    
}

/* .laptop{
    margin-top: 5%;
} */

.laptop>img{
    width: 50%;
    position: relative;
    top: 140px;
}

.socialSection{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #f9f9f9;
    position: relative;
    z-index: 2;
}

.socialSection>img{
    padding: 2%;
    
}

h2.socialSection{
    padding-top: 20px;
    padding-bottom: 6%;  
}

.appSection{
    text-align: center;
    padding: 4%;
}

section>h3{
    font-size: 2em;
    font-weight: 100;
    padding-bottom: 3%;
}

section.play{
    display: flex;
    justify-content: center;
    justify-items: center;
    background: url(./assets/img/map_bg.png);
    background-size: cover;
    background-position: 0 68%;
    align-items: center;
}

div.col-awesomeness{
    padding: 2% 3%;
    width: 18%;
}

div.col-awesomeness img.iphone{
    position: relative;
    top: -27px;
    width: 100%;
}

section p{
    color: #7e7e7e;
    font-weight: 500;
    line-height: 1.8em;
}

.play h4{
    font-size: 1.5em;
    font-family: Raleway, Arial, sans-serif;
    padding-bottom: 15px;
    display: inline-block;
}

.play .playItem{
    padding-bottom: 15px;
}

section.citation{
    padding-top: 50px;
    padding-bottom: 100px;
    text-align: center;
    background: url(./assets/img/seperator1-.jpg);
    color: #f7f7f7;
}

section.citation p{
    color: #f7f7f7;
    font-family: Raleway, Arial, sans-serif;
    font-size: large;
    line-height: 2em;
    font-weight: 300;
    padding-top: 15px;
}

section.citation h5{
    color: #3d9f96;
    padding: 15px;
    font-size: large;
  
}

section.screenshot{
    padding: 0 18%;
    background-color: #f9f9f9;
}


section.screenshot h5{
    font-size: x-large;
    font-weight: 100;
    padding: 50px 0;
}

span{ 
    font-weight: 600;
    font-family: Raleway, Arial, sans-serif;

}   

div.screenBox{
    display: flex;
    justify-content: space-between;
}

div.screenBox figure{
    padding-right: 1%;
}

div.screenBox figcaption{
    padding-top: 10px;
    padding-bottom: 100px;
    text-transform: capitalize;
    font-weight: 700;
    font-size: medium;
    font-family: Raleway, Arial, sans-serif;
}

.articles img{
    width: 100%;
}

div.tested{
    padding: 8% 18%;
    display: flex;
    justify-items: flex-start;
    align-items: top;
}

div.responsive{
    padding: 8% 18%;
    display: flex;
    flex-direction: row-reverse;
    justify-items: flex-start;
    align-items: top;

}

h5{
    font-size: 2.5em;
    font-weight: 300;
    padding-bottom: 5%;
}

.testedTxt{
    box-sizing: border-box;
    padding: 0 5%;
}

.testedTxt .greenButton{
    width: 40%;
    height: 4vh;
    margin-top: 10%;
}

footer .footerRow{
    display: flex;
    background: #f7f7f7;
    justify-content: space-around;
    align-items: top;
}

footer h6{
    font-size: xx-large;
}

footer p, li{
    color: #7e7e7e;
    list-style: none;
    font-size: 17px;
    line-height: 2em;
}

footer img{
    width: 100%;
}

footer .column1{
    padding: 5% 10%;
    flex: 2;
}

footer .column2{
    flex: 1;
    padding: 5% 5%;
}

footer ul li a:visited{
    color: #7e7e7e;

}

footer .column3{
    flex: 2;
    padding: 5% 5%;
}

section.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 10%;
}

.icons{
    width: 25%;
}

.copyright .icons a{
    display: inline-flex;
    padding: 0 5%;
}


.copyright .icons img{
    width: 120%;
}

.copyright .icons img:hover{
    background: #7e7e7e;
}



